node_modules
package.json
pnpm-lock.yaml
yarn.lock
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.next
out
.vercel
.output
.remix-dev
.remix-serve
.remix-serve-build
.remix-serve-cache
.remix-serve-node_modules